
@model IEnumerable<Blockbuster.BusinessModel.Entities.MovieCast>

@{
    string movieId = ViewBag.Movie.Id;
}

<h3>@ViewBag.Movie.Name</h3>
<span class="pull-right">
    @Html.ActionLink("Add New Cast", "Create", "MovieCast", new {@id = movieId}, null)
</span>

<div>
    <table class="table">
        <tr>
            <td>Artist Name</td>
            <td>Role Name</td>
            <td>Operations</td>
        </tr>

        @foreach (var movieCast in Model)
        {
            <tr>
                <td>@movieCast.Artist.Name</td>
                <td>@movieCast.RoleName</td>
                <td>
                    <span>@Html.ActionLink("Edit", "Edit", "MovieCast", new {id = movieCast.Id}, null)</span> |
                    <span>@Html.ActionLink("Delete", "Delete", "MovieCast", new { id = movieCast.Id }, null)</span> 
                </td>
            </tr>
        }
    </table>    
</div>