
@model Blockbuster.BusinessModel.Entities.Artist



    @using (Html.BeginForm("Create", "Artist", FormMethod.Post, new {@class="form-horizontal"}))
    {
        <div class="form-group">
            @Html.LabelFor(artist => artist.Name, new {@class = "control-label col-xs-2"})
            <div class="col-xs-10">
                @Html.TextBoxFor(artist => artist.Name, new { @class = "form-control" })
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(artist => artist.Gender, new {@class = "control-label col-xs-2"})
            <div class="col-xs-10">
                @Html.TextBoxFor(artist => artist.Gender, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                @Html.TextBox("Create", "Create", null, new { @type = "submit", @class = "btn btn-primary" })
                @Html.ActionLink("Cancel","Index","Artist",null, new {@class="btn btn-danger"})
            </div>
        </div>

    }





