
@model Blockbuster.BusinessModel.Entities.Artist

<div>
    @using (Html.BeginForm("Create", "Artist", FormMethod.Post))
    {
        @Html.LabelFor(artist => artist.Name) 
        @Html.TextBoxFor(artist => artist.Name)
        <br />
        @Html.LabelFor(artist => artist.Gender)
        @Html.TextBoxFor(artist => artist.Gender)
        <br/>
        @Html.TextBox("Submit", "Submit",null,new {@type="submit"})
    }
</div>

