@model Blockbuster.BusinessModel.Entities.Artist

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
<div>
    @using (Html.BeginForm("Edit", "Artist", FormMethod.Post))
    {
        @Html.LabelFor(artist => artist.Name)
        @Html.TextBoxFor(artist => artist.Name)
        <br />
        @Html.LabelFor(artist => artist.Gender)
        @Html.TextBoxFor(artist => artist.Gender)
        <br />
        @Html.TextBox("Submit", "Submit", null, new { @type = "submit" })
    }
</div>
</body>
</html>
